
/*图片动画*/
.img-animate{
	transition:all 1s ;
}
.img-animate:hover{
	transform: scale(0.95,0.95);
}
.img-animate2{
	transition:all 1s ;
}
.img-animate2:hover{
	transform: scale(0.98,0.98);
}

#choose-box{
	background: white;
	padding: 20px;
	margin-top: 20px;
}
#choose-condition{
	border: 1px solid #cccccc;
	
}
#choose-condition li{
	display: flex;
	font-size: 14px;
	line-height: 30px;
	border-bottom: 1px dotted #cccccc;
	padding: 6px 0;
}
#choose-condition li:last-child{
	border-bottom: none
}
#choose-condition >li> span{
	color: #333333;
	margin-right: 10px;
	margin-left: 20px;
}
#choose-condition li>i{
	margin-right: 10px;
}
.kind-list{
	line-height: 30px;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
}
.kind-list span{
	color: #666666;
	cursor: pointer;
	margin-right: 10px;

}
.kind-list span:hover{
	color: #cc0000;
}
.kind-list i{
	color: #666666;
	margin-right: 10px;
	
}

#choose-condition li i:hover{
	color: #cc0000;
	cursor: pointer;
}

.kind-list4 i{
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin-top: 6px;
	border: 1px solid #cccccc;
	background: greenyellow;
}


#condition-box{
	background: white;
	padding: 0 20px;
	margin-top: 20px;
}
.condition-title{

	border-bottom: 1px solid #cccccc;
}
.condition-title-l{
	font-size: 12px;
	display: flex;	
	color: #999999;
	line-height: 50px;
	cursor: pointer;
}
.condition-title-l span{
	margin-right: 15px;
}
.condition-title-l i{
	margin-right: 10px;
}
.condition-title-r{
	line-height: 50px;
	color: #333333;
	font-size: 16px;
}

.condition-content{
	display: flex;
	flex-wrap: wrap;
}
.condition-content li{
	margin:20px;
	margin-left: 0;
	width: 340px;
	height: 252px;
	overflow: hidden;
}
.condition-content li:nth-child(3n){
	margin-right: 0;
}
.img-box{
	overflow: hidden;
	height: 216px;
}
.condition-content li img{
	transition:all 1s ;
	height: 216px;
	width: 100%;
	
}
.condition-content li img:hover{
	transform: scale(1.25,1.25);
}
.condition-content li p{
	height: 36px;
	line-height: 36px;
}

.get-tag{
	margin-top: 0px;
}
.get-tag li{
	display: flex;
	line-height: 30px;
}
.get-tag li span{
	margin-right: 15px;
}
.get-tag li i{
	margin-right: 10px;
}
.get-color-list{
	display: flex;
}
.get-color-list li{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 8px;
	background: greenyellow;
	border: 1px solid #cccccc;
	margin-right: 5px;
}

#scheme{
	margin-top: 20px;
	padding-bottom: 20px;
}
.scheme-title{
	background: white;
	display: flex;
	height: 100px;
}
#navTitle2{
	height:80px ;
	margin-top: 30px;
}
#navTitle2 h5{
	line-height: 80px;
}

#navTitle3{
	height:50px ;
	margin-top: 30px;
}
#navTitle3 h5{
	line-height: 50px;
}

.scheme-title h5{
	width: 200px;
	line-height: 100px;
	text-align: center;
	color: #333333;
	font-size: 20px;
	border-right: 1px solid #cccccc;
}
.scheme-title-list{
	flex: 1;
	font-size: 14px;
	display: flex;
	padding: 15px 5px 8px 25px;
	flex-wrap: wrap;
}
.scheme-title-list li{
	margin-right: 20px;
}
.scheme-title-list li:hover{
	cursor: pointer;
	color: #cc0000;
}
#scheme{
	background: #EBECEE;
}
.scheme-content{
	
	background: #EBECEE;
}
.scheme-list-title {
	margin-top: 20px;
}

.scheme-list-title-l{
	margin-left: 20px;
	line-height: 30px;
	color: #333333;
	font-size: 14px;
}
.scheme-list-title-r{
	display: flex;
	line-height: 30px;
	margin-right: 20px;
	
}
.cheme-list-tabs{
	display: flex;
	margin-right: 20px;
}
.cheme-list-tabs span{
	/*border: 1px solid #999999;*/
	/*background: white;*/
	line-height: 20px;
	margin-top: 5px;
	margin-right: ;
	border-radius: 3px;
	width: 30px;
	text-align: center;
	cursor: pointer;
}
#more{
	font-size: 16px;
}


.scheme-img-list{
	width:100%;
	-moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    padding:0 20px;
	

}
.scheme-img-list li{
	break-inside: avoid;
	column-gap: 0px;
	width: 340px;
	margin: 0 auto;
	margin-bottom: 20px;
	background: white;
	padding-bottom: 20px;
}

.scheme-img-list li img{
	width: 100%;
}
.scheme-img-list li p{
	line-height: 30px;
	
}


#flower{
	background: #EBECEE;
	padding-bottom: 20px;
}
.flower-list{
	display: flex;
	flex-wrap: wrap;
	padding: 0 20px;
}
.flower-list li{
	width: 340px;
	height: 500px;
	margin-right: 20px;
	background: white;
}
.flower-list li:last-child{
	margin-right: 0;
}
.flower-list li img{
	width: 100%;
	height: 450px;
}
.flower-list li p{
	line-height: 30px;
}
#design{
	padding-bottom: 100px;
}
#design img{
	width: 100%;
	height: 560px;
}
