.article{
	display: flex;

}
.article-left{
	width: 820px;
	margin-top:20px;
	margin-right: 20px;
	padding: 20px;
	background: white;
}
.article-right{
	margin-top: 20px;
	
	background: white;
	flex: 1;

}
.article-list{
	margin-top: 15px;	
}
.article-list li{
	margin-left: 20px;
	overflow:hidden;	/*超出...*/
   	text-overflow:ellipsis;
   	white-space:nowrap;
	width: 200px;
	font-size: 14px;
	line-height: 30px;
}

